{% extends 'base.html' %}

{% block message %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" >
    <main class="px-3">
        <h1><b>水果大叔Line Bot機器人</b></h1>
        <p class="lead"><b>歡迎來到「水果大叔Line Bot機器人」的網站，在這裡你可以了解機器人的相關功能，和作者的相關資訊喔!</b></p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">了解更多</a>
        </p>
      </main>
    
      <footer class="mt-auto text-white-50">
        <p>本網頁屬於<a href="https://www.ncu.edu.tw/tw/index.html" class="text-white">中央大學</a>, by <a href="http://140.115.103.29/" class="text-white">通識教育中心</a>.</p>
      </footer>
</div>
{% endblock message %}
